<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Message 2</title>
      <style>
               body{text-align:center}
    </style>
</head>
<body>

<h1>
    Checking
</h1>

<img src="/static/Checking.PNG">

 <h1>
     Try to check :
 </h1>

<form    action="/check_message2" method="POST">

             <label for="dan"> Daniel's Public Key</label>
             <input type="radio" id="dan" name="whichkey" value="dan" required><br><br>
             <label for="you"> Sam's Public Key </label>
             <input type="radio" id="you" name="whichkey" value="you" required><br><br>
             <label for="bob"> Bob's Public Key </label>
             <input type="radio" id="bob" name="whichkey" value="bob" required><br><br>
             <input type="submit" value="Submit">

    </form>


</body>
</html>