<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encryption Lab</title>

<style>
             body{text-align:center}
         </style>

</head>
<body>
<h1>Welcome To The Cryptography Lab</h1>

<p>
                  <img src="/static/Crypto Diagram.PNG">

  </p>

<p>
    In this lab we will introduce some topics in Cryptography in a form of a Conversation between Bob (The server) and Alice (You)
</p>

<p>

</p>




<p>
    <em>Start with the Keys Generation, </em>
                <a href={{url_for('NextPage')}}>Next</a>

</p>


</body>
</html>