<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encryption Page</title>
	<style>
               body{text-align:center}
    </style>
</head>
<body>
<h1>
	Encryption
</h1>
 </p>
            <img src="/static/Encryption.PNG">
   <p>

<h1> How Does RSA Encryption Work? </h1>

<p>
	RSA Encryption is a public key encryption algorithm. They are also known as asymmetric algorithms. This means that the sender and the receiver use different keys to encrypt or decrypt a message or transmission.
</p>
<p>
	Both sides of the message are assigned a pair of keys; a public key and a private key. The public key is what will be used to encrypt the message. The private key is for decrypting the message. The public key remains available to view by anyone who might wish to send a message. However, only the private key can decrypt the sent messages. While both keys are derived from factoring large prime numbers, the private key can not be derived from the public key.
</p>



<form action="/encrypted_message"  method="POST">
	<div>
		<label for="Message to Encrypt" > Message to Encrypt </label>
		<input type="text" name="me" id="Message to Encrypt" required >
	</div>

	<h1>
		Now you have 3 keys, Bob's Public key, your Private and Public Keys , Which one will be used to encrypt the message you eneterd above
	</h1>
	     <label for="Bpub"> Use Bob's Public Key</label>
         <input type="radio" id="Bpub" name="keytype" value="BobPublic" required><br><br>
         <label for="pub"> Use your Public Key</label>
         <input type="radio" id="pub" name="keytype" value="public" required><br><br>
         <label for="pri"> Use your Private Key</label>
         <input type="radio" id="pri" name="keytype" value="private" required><br><br>
         <input type="submit" value="Submit">
    <style>
             body{text-align:center}
         </style>

        </p>

	</form>


</body>
</html>
