<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated Keys</title>
    <style>
               body{text-align:center}
    </style>
</head>
<body>


 <h1> Keys Generation</h1>
             <img src="/static/Keys Generation.PNG">

        <p>

            This is the Public key: {{message}}
        </p>

 <p>
     This is the Private key:{{msg}}

          </p>
            <div>
                <em>Go To Sharing Keys, </em>
                <a href={{url_for('exchanging_keys')}}>Next</a>
              </div>

</body>
</html>